@import "../../../scss/mixins";
@import "../../../scss/variables";

.headerWrapper{
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 200;
  align-items: center;
  background-color: $color-white;
  top: 0;
  left: 0;
  margin: 0 auto;
  height: $desktop-header-height;
  padding: 2rem 5rem;

  .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    .menuBar{
      display: none;
      @include for-size(phone-only){
        display: block;
      }
    }
    .logo{
       flex: 2;
       display: flex;
       img {
         width: 204px;
         height: 31px;
       }
      @include for-size(phone-only){
        margin-left: 10px;
      }
    }
    .navLinks{
      flex: 3;

      nav{
        display: flex;
        align-items: center;
        @include for-size(phone-only){
          justify-content: flex-end;
        }
      }

      ul{
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: space-evenly;

        li, li > a{
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
          color: $color-medium-grey;
          cursor: pointer;
          &:hover{
            color: $color-primary-green;
          }
        }

        li.active > a{
          color: $color-primary-green;
          text-decoration: none;
        }

        @include for-size(phone-only){
          display: none;
        }

      }

    }

    .userIcon{
      position: relative;

      img{
        cursor: pointer;
      }

      .dropDown{
        position: absolute;
        right: -20px;
        top: 3.5rem;
        width: 20rem;
        min-height: 100px;
        border: 1px solid #f1f3f5;
        background-color: $color-white;
        box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);;

        > ul{
          padding: 0;
          margin: 0;
          list-style: none;

          li > a{
            cursor: pointer;
            display: flex;
            font-size: 16px;
            align-items: center;
            font-weight: 500;
            line-height: 1.5rem;
            padding: 1rem 1.5rem;
            color: $color-black;
          }

          li:hover{
            background-color: #f1f3f5;
          }

        }

      }

    }

  }

  .mobileNavLinks{
    padding: 2rem;
    ul{
      padding-left: 0;
      li{
        margin-bottom: 2rem;
      }
    }
  }

  @include for-size(tablet-portrait-up){
    .container{
      flex-direction: column;

      .navLinks{
        width: 100%;
      }
    }
  }

  @include for-size(tablet-landscape-up){
    padding: 2rem 4rem;

    .container{
      flex-direction: row;

      .navLinks{
        width: 100%
      }
    }

  }

  @include for-size(phone-only){
    padding: 1rem;
    height: $phone-header-height;
  }

}
