@import "../../../../../scss/mixins";
@import "../../../../../scss/variables";

.offerContainer{
  min-height: 500px;
  padding: 2rem 0;

  h4{
    text-align: center;
    color: $color-black;
  }

}
