@import "../../scss/mixins";
@import "../../scss/variables";

.registerWrapper{
  padding: 3% 10%;
  h2{
    text-align: center;
    color: $color-dark-grey;
    font-weight: 400;
  }

  p{
    text-align: center;

    > span{
      color: $color-black;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

  }

  .formContainer{
    display: flex;
    flex-direction: column;

    .formInput{
      width: 100%;
      margin-top: 20px;
      input, select {
        width: 100%;
        padding: 15px 12px;
        border: 1px solid $color-light-grey-2;
        font-size: 14px;
        line-height: 20px;
        border-radius: 4px;
        outline: none;
      }
    }

    .btnContainer{
      width: 100%;
      margin-top: 35px;
    }

    .error{
      color: red;
      padding: 0;
      margin-bottom: 0;
    }

  }
}